<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.min.css">

<form action="#" id="loginForm">
    <h4>Log In</h4>
    <label>Username: </label><input type="text" name="username" required placeholder="enter your username...">
    <br><br>
    <label>Password: </label><input type="password" name="password" required placeholder="enter your password..."><button class="viewInputtedPw"><i class="ri-eye-line"></i></button>
    <br><br>
    <button type="submit" class="submitLogin" routerLink="/home">Log In</button>

    <br>
  
</form>
