<p>profile works!</p>

<div class="profileContainer">
    
    <!-- User's Profile Picture: -->
    <button matBadge="+" matBadgePosition="after" matBadgeSize="large"><img src="/assets/images/default.png" id="profilePic"></button>
    
    <!-- User's Username: -->
    <h3 id="accountUsername">Username: {{testUserName}}</h3>

    <!-- Text Area for the User's Description / Bio: -->
    <mat-card id="bio">{{testUserBio}}</mat-card>

    <br>

    <!-- Button to Logout and route back to the Login page: -->
    <button id="logout" routerLink="">Log Out</button>
     
</div>