<p>profile works!</p>

<table>
    <!-- Row one (1):  -->
    <tr>
        <!-- User's Profile Picture: -->
        <td><button matBadge="+" matBadgePosition="after" matBadgeSize="large"><img src="/assets/images/default.png" id="profilePic"></button></td>
    </tr>
    
    <!-- Row two (2): -->
    <tr>
        <!-- User's Username: -->
        <td><h3 id="accountUsername">Username</h3></td>
    </tr>

    <!-- Row three (3): -->
    <tr>
        <!-- Text Area for the User's Description / Bio: -->
        <td><textarea id="bio">I am where the user's bio will go.</textarea></td>
    </tr>

    <!-- Row three (3): -->
     <tr>
        <!-- Button to Logout and route back to the Login page: -->
        <td><button id="logout">Log Out</button></td>
     </tr>
</table>